
block content
  .card.main_card
    .card-block
      p.card-text
        .container
          .card_content=question.content

      p.card-footer
        .container
          .row 
            .col 
             .footer_content Start
            .col 
             .footer_content Finish
            .col 
             .footer_content Organization
            .col 
             .footer_content Ticket
          .row
            .col
              .footer_content=question.start_date
            .col
              .footer_content=question.finish_date
            .col
              .footer_content=question.organization
            .col
              .footer_content=question.fee



