extends ../layout

block content
  .container
    h1.main-title= question.title

    .question.show
      include _questionDetail

      .buttons#button-container
        if currentUser && question.author.id == currentUser.id
          | 
          a.btn.btn-outline-secondary#update-button(href=`/questions/${question.id}/edit`) 수정
          | 
          a.btn.btn-outline-danger.need-confirm-btn#delete-button(href=`/questions/${question.id}?_method=delete`) 제거
        else
          button.btn.btn-primary#like-button #[i.fa.fa-thumbs-up] Like
   
      
    //- if question.numAnswers > 0
    hr
    h3.answer-comment #{question.numAnswers}명 참여(최대 #{question.limitNum}명 가능)
    .answers.show
      each answer in answers
        include _answer
    .row
      .col
        if currentUser && question.author.id != currentUser.id && question.numAnswers < question.limitNum && currentUser.isAdmin != 1
          form(action=`/questions/${question.id}/answers`, method='POST')
            .form-group
                label(for="exampleSelect1") Join Here (동행자가 있을 경우 중복 참여 가능)
                select.form-control(name="content")
                  option 참여합니다.
                button.btn.btn-primary.register-btn(type="submit") Register

  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });


  script.
    $(function() {
      $('.like-btn').click(function() {
        
      });
    });





