extends ../layout

block content
  .container
    h1.main-title= question.title

    .question.show
      //- .content= question.content
      include _questionDetail

      .buttons
        button.btn.btn-primary #[i.fa.fa-thumbs-up] Like
        | 
        a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
        | 
        a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/questions/${question.id}?_method=delete`) Delete
 
      
    if question.numAnswers > 0
      hr
      h3 #{question.numAnswers} Participant(s)
      .answers.show
        each answer in answers
          include _answer
    .row
      .col
        form(action=`/questions/${question.id}/answers`, method='POST')
          .form-group
              label(for="exampleSelect1") Join Here
              select.form-control(name="content")
                option 참가합니다.
                option 고민중입니다.
      .col.register_btn
        button.btn.btn-primary(type="submit") Register

  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });
