extends ../layout

block content
  .container
    h1.main-title= question.title

    .question.show
      //- .content= question.content
      include _questionDetail
      .buttons
        button.btn.btn-primary.like-btn(type="submit") #[i.fa.fa-thumbs-up] Like
        | 
        a.btn.btn-outline-secondary(href=`/questions/${question.id}/edit`) Edit
        | 
        a.btn.btn-outline-danger.delete-btn(href="#", data-url=`/questions/${question.id}?_method=delete`) Delete
   
      
    if question.numAnswers > 0
      hr
      h3.answer-comment #{question.numAnswers}명 참여(최대 #{question.limitNum}명 가능)
      .answers.show
        each answer in answers
          include _answer
    .row
      .col
        if question.numAnswers < question.limitNum
          form(action=`/questions/${question.id}/answers`, method='POST')
            .form-group
                label(for="exampleSelect1") Join Here
                select.form-control(name="content")
                  option 참여합니다.
                button.btn.btn-primary.register-btn(type="submit") Register
        else
          h2.limit-comment 참여 가능인원을 초과하였습니다.

  script.
    $(function() {
      $('.delete-btn').click(function() {
        if (confirm('Are you sure to delete?')) {
          location = $(this).data('url');
        }
        return false;
      });
    });


  script.
    $(function() {
      $('.like-btn').click(function() {
        
      });
    });





